.mandatory-content-warning{
    border: 3px solid #bd2919; 
    padding: 10px; 
    text-align: center;
}

.mandatory-content-button{
    border: 3px solid #d3d3d3; 
    padding: 10px; 
    text-align: center;
    margin-bottom: 20px;
}